/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* google fonts  */
    font-family: 'Catamaran', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

ul,
ol {
    list-style: none;
}

.container {
    width: 100vw;
    height: 100vh;
    background-repeat: none;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
}

.bg-dark {
    background-color: #000;
}

.bg-image1 {
    background-image: linear-gradient(rgba(9, 50, 231,.3), rgba(182, 130, 202, 0.6)),
    url(../images/pexels-aliona-&-pasha-3892172.jpg);
}

.bg-image-2 {
    background-image: url(../images/pexels-pixabay-519471.jpg);
}